<div id="sidebarWrapper">
  <button mat-icon-button (click)="close()">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <div class="detailWrapper" [ngClass]="{ expanded: expanded }">
    <div class="header">
      <img src="{{ flagImg }}" alt="Keine Flagge verfügbar"/>
      <a href="https://www.auswaertiges-amt.de/de/open-data-schnittstelle/736118"><mat-icon matTooltip="Die Daten werden bereitgestellt vom Auswärtigem Amt. (Klicken für mehr Infos)">info_outline</mat-icon></a>
    </div>
    <div id="content">
      <h1>
        {{
          selectedCountry().countryCode === undefined
            ? ""
            : selectedCountry().countryName
        }}
      </h1>
      <div [innerHTML]="selectedCountry().content"></div>
    </div>
  </div>
</div>
